.opportunity-container {
    background-color:  #090909;
    padding-top: 20px !important;
    padding-bottom: 55px !important;
    text-align: center;
}
h2{
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}

.list-text{
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
    line-height: 22px;
    letter-spacing: 2px;
    font-size: 12px;
    float: none;
}
