.employee-container{
    background-color:  #F44C3A;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 55px !important;
    font-family: 'Architects Daughter', cursive;
}

h2.employee-header{
    text-transform: uppercase;
    color: #090909;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
.flex-employee{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.name_container{
    margin: 20px 20px 20px 20px;
    padding-bottom: 10px;
}

button.btn.btn-secondary{
    margin: 10px;
    color: #ffffff;
    border-radius: 20px;
    background-color: #090909 !important;
}
.second-button{
    margin: 10px;
    color: #ffffff;
    border-radius: 20px;
    background-color: #2E4057 !important;

}
.inline_button{
    display: inline-flex;
}

.employee-image{
    border-radius: 50%;
    filter: grayscale(100%);
    margin-bottom: 40px;
    margin-top: 30px;
    max-width: 70%;
    vertical-align: middle;

}