.main-container{
    background-color: #090909;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.osise-logo{
    float: left;
}

.navbar{
    float: right;
}

ul.navbar-list{
    list-style-type: none;
    margin: 0px 0px -1px;
    padding: 36px 0px 4px 2px;
    
}
.navbar-list li a:hover{
    color: #FFFFFF;
}

.navbar-list li a{
    color: 	#808080;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
}