
div.modal-content{
    border-radius: 40px;
    overflow:hidden;
    background-color: #ECEAE8;
}


.modal-header{
    background-color:  #F44C3A;
    text-transform: uppercase;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

button.submit-button.btn.btn-secondary{ background-color:#43AA8B !important;}
button.cancel-button.btn.btn-secondary{ 
    background-color:#D62828 !important;}
